@font-face {
    font-family: 'Cyntho Pro';
    src: local('CynthoPro-Regular'), url('../cynthopro/Cynthopro-regular.woff2') format('woff2'), url('../cynthopro/Cynthopro-regular.woff') format('woff'), url('../cynthopro/Cynthopro-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    color: #2d2d2d;
    margin: 0;
    background-color: white;
    width: 100%;
    font-size: 14px;
    font-family: "Cyntho Pro", sans-serif;
}

button, div {
    color: #2d2d2d;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 0;
    height: 100%;
    width: 100%;
}

.loading_image_wrapper {
    margin-top: 5px;
}

.shopping_cart_add_remove_figure {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2em;
    border-radius: 20px;
    border: none;
    background-color: #FFE0BC;
}

.shopping_cart_minus_btn {
    background-color: #FFE0BC;
    height: 100%;
    width: 35%;
    border: 0;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.shopping_cart_plus_btn {
    background-color: #FFE0BC;
    height: 100%;
    width: 35%;
    border: 0;
    border-radius: 20px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

.shopping_cart_item_label {
    font-size: 1.2em;
    padding: 0;
    width: 30%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    text-align: center;
    vertical-align: middle;
}

.choose_time_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.choose_time_btn:active,
.choose_time_btn:hover,
.choose_time_btn {
    text-decoration: none;
    color: #2d2d2d;
}

.checkout_btn {
    opacity: 0;
    animation: show_orders_appearance_animation forwards;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.68, .92, .69, 1);
    animation-direction: alternate;
    animation-delay: 0.4s;

    width: 100%;
    min-height: 2.2em;
    height: 2.2em;
    font-family: "Cyntho Pro", sans-serif;

    border: none;

    background-color: rgba(255, 165, 54, 0.6);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    font-size: 1.3em;
    align-self: flex-end;
}

.checkout_btn:disabled {
    background-color: rgba(255, 165, 54, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.shopping_cart {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.shopping_cart_label {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 2em;
    margin-top: 0.5em;
}

.shopping_cart_items {
    /*animation: show_orders_appearance_animation forwards;*/
    /*animation-duration: 0.3s;*/
    /*animation-timing-function: cubic-bezier(.68, .92, .69, 1);*/
    /*animation-direction: alternate;*/

    display: grid;
    @media (min-width: 360px) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    padding-top: 10px;
    max-height: 40vh;
    border: 1px solid #ddd;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 55px;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.shopping_item {
    /*opacity: 0;*/
    /*animation: show_orders_appearance_animation forwards;*/
    /*animation-duration: 0.3s;*/
    /*animation-timing-function: cubic-bezier(.68, .92, .69, 1);*/
    /*animation-direction: alternate;*/

    padding: 0;
    display: grid;
    width: calc(100% - 20px);
    grid-template-columns: 15% 50% 35%;
    height: 70px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 17px;
    box-shadow: 5px 5px 10px #ddd;
}

.shopping_item_img {
    display: inline-block;
    margin: auto auto auto 10px;
    width: 45px;
    height: auto;
}

.shopping_cart_item_name {
    margin: auto 10px;
    text-align: center;
}

.shopping_cart_item_cost {
    width: fit-content;
    height: fit-content;
    font-size: 0.8em;
}

.buttons_and_cost_wrapper {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.empty_shopping_cart_label {
    margin-top: 75px;
    width: 100%;
    text-align: center;
    color: #939393;
    font-size: 1.2em;
}

@media (max-width: 280px) {
    .shopping_item_img {
        display: none;
    }

    .shopping_item {
        grid-template-columns: 50% 50%;
    }
}

.time_slider_area {
    opacity: 0;
    animation: show_orders_appearance_animation forwards;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.68, .92, .69, 1);
    animation-direction: alternate;
    animation-delay: 0.4s;

    align-items: center;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 25px;
    bottom: 2.2em;
    margin: 0 5px 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.buttons_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    margin: 10px;
    gap: 10px;
}

.free_time_button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: none;
}

.free_time_label {
    opacity: 0;
    animation: show_orders_appearance_animation forwards;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.68, .92, .69, 1);
    animation-direction: alternate;

    line-height: 30px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    border-radius: 20px;
    border: none;
    transition: background-color 0.2s linear;
    background-color: #FFE0BC;
    font-family: "Cyntho Pro", sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.selected_time {
    background-color: #FFE0BC;
    box-shadow: 5px 5px 10px #ddd;
}

.not_selected_time {
    background-color: #FFF2E0;
}

.time_selection_and_checkout {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.error_404_label {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.order_comment_div {
    opacity: 0;
    animation: show_orders_appearance_animation forwards;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.68, .92, .69, 1);
    animation-direction: alternate;
    animation-delay: 0.2s;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
}

.order_comment {
    width: calc(100% - 70px);
    outline: none;
    resize: none;
    font-family: "Cyntho Pro", sans-serif;
    padding: 10px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.order_comment_button {
    padding: 0;
    height: 45px;
    width: 45px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #FFE0BC;
    border: 0;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

@media (max-height: 500px) {
    .shopping_cart_items {
        max-height: 25vh;
    }

    .shopping_item {
        height: 60px;
    }

    .buttons_and_cost_wrapper {
        height: 85%;
    }

    .free_time_label {
        line-height: 25px;
        font-size: 0.9em;
    }

    .order_comment {
        height: 5vh;
        width: calc(100% - 60px);
    }

    .order_comment_button {
        height: 35px;
        width: 35px;
        font-size: 0.7em;
    }
}

