.adaptive_container {
    @media (min-width: 10px) {
        background: green;
    }
    @media (min-width: 600px) {
        margin-left: 10%;
        margin-right: 10%;
    }
    @media (min-width: 950px) {
        margin-left: 15%;
        margin-right: 15%;
    }
    @media (min-width: 1200px) {
        margin-left: 17%;
        margin-right: 17%;
    }
}

.adaptive_menu {
    @media (min-width: 400px) {
        width: 75%;
    }
    @media (min-width: 600px) {
        width: 65%;
    }
    @media (min-width: 700px) {
        width: 55%;
    }
    @media (min-width: 950px) {
        width: 45%;
    }
    @media (min-width: 1200px) {
        width: 40%;
    }
}

.adaptive_bottom_button {
    @media (min-width: 600px) {
        bottom: 0.7em;
        height: 2.5em;
        border-radius: 30px;
        margin-right: 25%;
        margin-left: 25%;
        width: 50%;
    }
    @media (min-width: 900px) {
        bottom: 0.7em;
        height: 2.5em;
        border-radius: 30px;
        margin-right: 35%;
        margin-left: 35%;
        width: 30%;
    }
}

.adaptive_item {
    @media (min-width: 950px) {
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 10%;
    }
    @media (min-width: 1200px) {
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 12%;
    }
}