@media (max-width: 230px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .shopping_item {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 295px) {
    .shopping_item_img, .order_item_img {
        display: none;
    }

    .shopping_item {
        grid-template-columns: 50% 50%;
    }

    .order_item {
        grid-template-columns: 50% 50%;
    }

    .order_item_cost, .order_item_number {
        align-self: end;
        margin-right: 10px;
        margin-left: 0;
    }

    .order_item_name {
        align-self: start;
        margin-left: 10px;
        margin-right: 0;
    }

    .orders {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

@media (max-width: 350px) {
    .shopping_cart_item_name {
        margin-left: 20px;
        margin-right: 20px;
    }

    .shopping_cart_item_name {
        font-size: 0.9em;
    }
}

@media (min-width: 900px) {
    .shopping_cart_items {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .shopping_item {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 400px) {
    .adaptive_menu {
        width: 95%;
    }
}

@media (min-width: 400px) {
    .shopping_item_only_one {
        width: 60% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .adaptive_menu {
        width: 75%;
    }
}

@media (min-width: 600px) {
    .adaptive_container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .bottom_container_margin {
        margin-bottom: 4em;
    }

    .adaptive_menu {
        width: 65%;
    }

    .adaptive_bottom_button {
        bottom: 0.7em;
        height: 2.5em;
        border-radius: 30px;
        margin-right: 25%;
        margin-left: 25%;
        width: 50%;
    }

    .time_slider_area {
        margin-bottom: 4.9em;
    }
}

@media (min-width: 700px) {
    .adaptive_menu {
        width: 55%;
    }
}

@media (min-width: 900px) {
    .adaptive_bottom_button {
        bottom: 0.7em;
        height: 2.5em;
        border-radius: 30px;
        margin-right: 35%;
        margin-left: 35%;
        width: 30%;
    }
}

@media (min-width: 950px) {
    .adaptive_container {
        margin-left: 15%;
        margin-right: 15%;
    }

    .adaptive_menu {
        width: 45%;
    }

    .adaptive_item {
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 10%;
    }
}

@media (min-width: 1200px) {
    .adaptive_container {
        margin-left: 17%;
        margin-right: 17%;
    }

    .adaptive_menu {
        width: 40%;
    }

    .adaptive_item {
        margin-left: 7%;
        margin-right: 7%;
        margin-bottom: 12%;
    }
}
