@font-face {
    font-family: 'Cyntho Pro';
    src: local('CynthoPro-Regular'), url('cynthopro/Cynthopro-regular.woff2') format('woff2'), url('cynthopro/Cynthopro-regular.woff') format('woff'), url('cynthopro/Cynthopro-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: white;
    width: 100%;
    font-size: 18px;
    font-family: "Cyntho Pro", sans-serif;
    color: #2d2d2d;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    text-align: center;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 2em;
}

.menu {
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 50px;
}

.menu_link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.menu_link:active,
.menu_link:hover,
.menu_link {
    text-decoration: none;
    color: #2d2d2d;
}

.menu_div {
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    height: 60px;
    background-color: #ffdaae;
}

@media screen and (width > 400px) {
    .menu_div:first-child {
        margin-right: 0;
    }
}
