body {
    margin: 0;
    background-color: white;
    width: 100%;
}

.container {
    margin: 0;
    width: 100%;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item {
    display: grid;
    grid-template-rows: 100px 50px 50px 50px;
    border: 1px solid #ddd;
    border-radius: 40px;
    margin: 15px;
    box-shadow: 5px 5px 10px #ddd;
}

.img {
    display: inline-block;
    margin: auto;
    scale: 80%;
}

.item_name {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.item_cost {
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 100%;
}

.add_remove_figure {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-radius: 20px;
    border: none;
    color: #2d2d2d;
    background-color: #ffdaae;
}

.btn_add {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    color: #2d2d2d;
    transition: background-color 0.1s linear;
    font-size: 16px;
    background-color: #ffdaae;
}

/*
border: none;
    margin-right: 7px;
    border-radius: 20px 3px 3px 20px;
    width: 42px;
    height: 42px;
    color: #2d2d2d;
    background-color: #ffdaae;
    transition: background-color 0.1s linear;
    font-size: 20px;
*/

.btn_minus {
    background-color: #ffdaae;
    height: 100%;
    width: 35%;
    border: 0;
    border-radius: 20px;
    color: #2d2d2d;
    font-size: 20px;
}

.btn_plus {
    background-color: #ffdaae;
    height: 100%;
    width: 35%;
    border: 0;
    border-radius: 20px;
    color: #2d2d2d;
    font-size: 20px;
}

.btn_add:hover, .btn_plus:hover, .btn_minus:hover {
    background: #ffe4c4;
}

.order_item_label {
    width: 30%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    text-align: center;
    color: #2d2d2d;
    font-size: 20px;
}


.choose_time_btn {
    position: fixed;
    bottom: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}
