body {
    margin: 0;
    background-color: white;
}

.container {
    margin: 0;
    width: auto;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item:nth-last-child(2) {
    background-color: red;
}

.choose_time_btn {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}