@font-face {
    font-family: 'Cyntho Pro';
    src: local('CynthoPro-Regular'), url('cynthopro/Cynthopro-regular.woff2') format('woff2'), url('cynthopro/Cynthopro-regular.woff') format('woff'), url('cynthopro/Cynthopro-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: white;
    width: 100%;
    font-size: 14px;
    font-family: "Cyntho Pro", sans-serif;
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 0;
    height: 100%;
    width: 100%;
}

.bottom_container_margin {
    margin-bottom: 2.5em;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.item {
    display: grid;
    grid-template-rows: 80px 60px 20px 50px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px #ddd;
}

.item:nth-child(2n + 1) {
    margin-left: 5px;
    margin-right: 8px;
}

.item:nth-child(2n) {
    margin-left: 5px;
    margin-right: 8px;
}

.catalog_image {
    display: inline-block;
    margin: auto;
    scale: 80%;
}

.item_name {
    display: inline-block;
    margin: auto 5%;
    text-align: center;
    width: auto;
}

.item_cost {
    display: inline-block;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}

.add_remove_figure, .shopping_cart_add_remove_figure {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 2em;
    margin: auto;
    border-radius: 20px;
    border: none;
    color: #2d2d2d;
    background-color: #ffdaae;
}

.btn_add {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    color: #2d2d2d;
    transition: background-color 0.1s linear;
    font-size: 1em;
    background-color: #ffdaae;
    font-family: "Cyntho Pro", sans-serif;
}

.btn_minus, .shopping_cart_minus_btn {
    background-color: #ffdaae;
    height: 100%;
    width: 35%;
    border: 0;
    border-radius: 20px;
    color: #2d2d2d;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}


.btn_plus, .shopping_cart_plus_btn {
    background-color: #ffdaae;
    height: 100%;
    width: 35%;
    border: 0;
    border-radius: 20px;
    color: #2d2d2d;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
}

@media (hover: hover) {
    .btn_add:hover, .btn_plus:hover, .btn_minus:hover {
        background-color: #ffe4c4;
    }
}

@media (hover: none) {
    .btn_add:active, .btn_plus:active, .btn_minus:active {
        background-color: #ffe4c4;
    }
}

.order_item_label, .shopping_cart_item_label {
    font-size: 1.2em;
    padding: 0;
    width: 30%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 0;
    text-align: center;
    color: #2d2d2d;
    vertical-align: middle;
}

.choose_time_btn {
    z-index: 999;

    position: fixed;
    bottom: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    height: 2.2em;
    font-family: "Cyntho Pro", sans-serif;

    border: none;
    color: #2d2d2d;
    background-color: #ffbf74;
    font-size: 1.3em;
    opacity: 0.9;
}

.checkout_btn {
    width: 100%;
    min-height: 2.2em;
    height: 2.2em;
    font-family: "Cyntho Pro", sans-serif;

    border: none;
    color: #2d2d2d;
    background-color: #ffbf74;
    font-size: 1.3em;
    opacity: 0.9;
    align-self: flex-end;
}

.checkout_btn:disabled {
    background-color: #FFE3C2
}

.shopping_cart {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.shopping_cart_label {
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 2em;
    margin-top: 0.5em;
}

.shopping_cart_items {
    max-height: 50vh;
    border: 1px solid #ddd;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.shopping_item {
    padding: 0;
    display: grid;
    grid-template-columns: 20% 35% 30% 20%;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 17px;
    box-shadow: 5px 5px 10px #ddd;
}

.shopping_item:last-child {
    margin-bottom: 10px;
}

.shopping_item_img {
    display: inline-block;
    margin: auto 10px;
    width: 50px;
    height: auto;
}

.shopping_cart_item_name {
    margin: auto 10px;
    text-align: center;
    font-size: 0.8em;
}

.shopping_cart_item_cost {
    transform: rotate(90deg);
    font-size: 0.8em;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
    height: fit-content;
}

.empty_shopping_cart_label {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #939393;
    font-size: 1.2em;
}

.time_slider_area {
    align-items: center;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 25px;
    bottom: 2.2em;
    margin: 10px 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.buttons_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    margin: 10px;
    gap: 10px;
}

.free_time_button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: none;
}

.free_time_label {
    line-height: 30px;

    display: inline-block;
    text-align: center;
    vertical-align: middle;

    border-radius: 20px;
    border: none;
    transition: background-color 0.2s linear;
    font-size: 1em;
    background-color: #ffdaae;
    font-family: "Cyntho Pro", sans-serif;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.selected_time {
    box-shadow: 5px 5px 10px #ddd;
}

.not_selected_time {
    background-color: #FFF2E0;
}

.time_selection_and_checkout {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.error_404_label {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}