@font-face {
    font-family: 'VDS';
    src: local('VDS'), url('vds.woff2') format('woff2'), url('vds.woff') format('woff'), url('vds.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'VDS';
    src: local('VDS Italic'), local('VDS-Italic'), url('vdsitalic.woff2') format('woff2'), url('vdsitalic.woff') format('woff'), url('vdsitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'VDS';
    src: local('VDS Bold'), local('VDS-Bold'), url('vdsbold.woff2') format('woff2'), url('vdsbold.woff') format('woff'), url('vdsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'VDS';
    src: local('VDS Bold Italic'), local('VDS-BoldItalic'), url('vdsbolditalic.woff2') format('woff2'), url('vdsbolditalic.woff') format('woff'), url('vdsbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
