@font-face {
    font-family: 'Cyntho Pro';
    src: local('CynthoPro-Regular'), url('../cynthopro/Cynthopro-regular.woff2') format('woff2'), url('../cynthopro/Cynthopro-regular.woff') format('woff'), url('../cynthopro/Cynthopro-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: white;
    width: 100%;
    font-size: 14px;
    font-family: "Cyntho Pro", sans-serif;
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 0;
    height: 100%;
    width: 100%;
}

.test_label {
    color: red;
}