@font-face {
    font-family: 'Cyntho Pro';
    src: local('CynthoPro-Regular'), url('../cynthopro/Cynthopro-regular.woff2') format('woff2'), url('../cynthopro/Cynthopro-regular.woff') format('woff'), url('../cynthopro/Cynthopro-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: white;
    width: 100%;
    font-size: 14px;
    color: #2d2d2d;
    font-family: "Cyntho Pro", sans-serif;
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 0;
    height: 100%;
    width: 100%;
}

.show_orders_label {
    font-size: 1.2em;
    color: #2d2d2d;
    margin-right: 50px;
    text-align: center;
}

.show_orders_label_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100%;*/
    /*text-align: center;*/

    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}

.orders {
    margin-top: 35px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.order_wrapper {
    border: 1px solid #ddd;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.order_item {
    align-items: center;
    padding: 0;
    display: grid;
    grid-template-columns: 80px calc(100% - 160px) 80px;
    height: 60px;
    margin-top: 10px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 17px;
    box-shadow: 5px 5px 10px #ddd;
}

.order_info {
    padding: 0;
    height: fit-content;
    margin-bottom: 1.3em;
    margin-right: 10px;
    margin-left: 10px;
}

.order_id, .order_time, .order_status {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.9em;
}

.order_id {
    font-size: 1.2em;
}

.order_time {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.order_status {
    font-size: 1.1em;
    margin-top: 0.4em;
    margin-bottom: 0;
}

.order_item:last-child {
    margin-bottom: 10px;
}

.order_item_img {
    display: inline-block;
    margin: auto;
    width: 50px;
    height: auto;
}

.order_item_name {
    margin: auto 10px;
    text-align: center;
    font-size: 0.9em;
}

.order_item_cost {
    font-size: 0.9em;
}

.order_item_number {
    font-size: 0.9em;
    color: #A5A5A5;
}

.order_item_cost_number_wrapper {
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.back_btn_to_menu_svg {
    margin-left: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    stroke: #2d2d2d;
    margin-top: 7px;
}

.back_btn_to_menu {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.back_btn_to_menu_label {
    font-family: "Cyntho Pro", sans-serif;
    font-size: 1.1em;
    fill: #2d2d2d;
    stroke-width: 0;
}

.page_header {
    z-index: 999;
    top: 0;
    width: 100%;
    height: 46px;
    position: fixed;
    display: grid;
    grid-template-columns: 50px calc(100% - 50px);

    background-color: rgba(255, 191, 116, 0.3);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 0 60px #ddd;
}