@font-face {
    font-family: 'Cyntho Pro';
    src: local('CynthoPro-Regular'), url('../cynthopro/Cynthopro-regular.woff2') format('woff2'), url('../cynthopro/Cynthopro-regular.woff') format('woff'), url('../cynthopro/Cynthopro-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    background-color: white;
    width: 100%;
    font-size: 14px;
    color: #2d2d2d;
    font-family: "Cyntho Pro", sans-serif;
    user-select: none;
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 0;
    height: 100%;
    width: 100%;
}

.loading_image_wrapper {
    margin-top: 80px;
}

.orders {
    margin-top: 35px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.order_wrapper {
    opacity: 0;

    animation: show_orders_appearance_animation forwards;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.68, .92, .69, 1);
    animation-direction: alternate;

    border: 1px solid #ddd;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}


.order_item {
    align-items: center;
    padding: 0;
    display: grid;
    grid-template-columns: 80px calc(100% - 160px) 80px;
    height: 70px;
    margin-top: 10px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 17px;
    box-shadow: 5px 5px 10px #ddd;
}

.order_info {
    padding: 0;
    height: fit-content;
    margin-bottom: 1.3em;
    margin-right: 10px;
    margin-left: 10px;
}

.order_id, .order_time, .order_status {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 0.9em;
}

.order_id {
    font-size: 1.2em;
}

.order_time {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 0;
}

.order_status {
    font-size: 1.1em;
    margin-top: 0.4em;
    margin-bottom: 0;
}

.order_item:last-child {
    margin-bottom: 10px;
}

.order_item_img {
    display: inline-block;
    margin: auto;
    width: 50px;
    height: auto;
}

.order_item_name {
    margin: auto 10px;
    text-align: center;
    font-size: 0.9em;
}

.order_item_cost {
    font-size: 0.9em;
}

.order_item_number {
    font-size: 0.9em;
    color: #A5A5A5;
}

.order_item_cost_number_wrapper {
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

